{%  extends 'main/master.html' %}
{% load i18n %}
{%  load static %}

{% block content %}

<div class="container-fluid py-2">
    <div class="row">
        <div class="col-12">
            <div class="form-card">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div>
                        <h3 class="mb-0">List Formulir SPT 1111</h3>
                        <p class="mb-0">Edit, delete, and download your Formulir SPT 1111 file in here.</p>
                    </div>

                </div>
                <hr>

                <a href="{% url 'form-spt-1111' %}" class="btn btn-primary">
                    <i class="material-symbols-rounded align-middle">add</i> Create New File
                </a>
                <div class="container mt-4">
                    <table style="width: 100%; border-collapse: collapse; border: 1px solid #000; margin-bottom:25px;">
                        <thead>
                        <tr style="background-color: #f0f0f0; text-align:center;">
                            <th style="border: 1px solid #000; padding: 8px;">Nama PKP</th>
                            <th style="border: 1px solid #000; padding: 8px;">NPWP</th>
                            <th style="border: 1px solid #000; padding: 8px;">Tax Year</th>
                            <th style="border: 1px solid #000; padding: 8px;">Option</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
list of formulir spt 1111